<% description @video.name %>
<% title @video.name %>
<div class="page">
    <div class="channel">
        <div> 
            <img src=<%= @video.channel.logo_url %> alt="Channel Logo URL" class="channel-logo" width="88" height="88" >
        </div>
        <h1><%= link_to @video.channel.name, @video.channel.url %> </h1>
    </div>
    <iframe src="<%= @video.embed_url %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <div class="container my-2 transcription-container">
        <h2 class="video-name"><%= @video.name %></h2>
        <div class="transcription">
            <% @video.transcription.each do |transcription_line| %>
                <div class="row">
                    <div class="col-2">
                        <%= transcription_line['offset'] %>
                    </div>
                    <div class="col-10"> 
                        <%= transcription_line['text'] %>
                    </div>
                </div>
             <% end %>
        </div>
    </div>
</div>