<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= display_meta_tags site: 'You Transcribe' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script data-ad-client="ca-pub-6348836384472381" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to root_path, class: 'navbar-brand' do %>
        <%= image_tag 'you_transcribe_logo.png', class: 'navbar-brand-image' %>
      <% end %>
    </nav>
    <main class="main">
      <%= yield %>
    </main>
    <footer class="footer p-3 text-center">
      <%= link_to 'All Videos', videos_path %>
      <% if @video.present? %>
       |
        <%= link_to "All videos on #{@video.channel.name}", channel_videos_path(@video.channel.slug) %>
      <% end %>
    </footer>
  </body>
</html>
