<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= display_meta_tags site: 'You Transcribe' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
     <div>
        <%= image_tag 'you_transcribe_logo.png', class: 'logo-image' %>
      </div>
    </header>
    <main class="main">
      <%= yield %>
    </main>
  </body>
</html>
